#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.App{
  width:100vw;
  display:flex;
  gap: 100px;
}
.card{
  width: 40px;
  position:relative;
}

.read-the-docs {
  color: #888;
}
.pointer{
  cursor:pointer;
}

.board{
  width:600px;
  display:grid;
  gap: 0px;
  grid-template-columns: repeat(10, 0.5fr);
}

.hand{
  display:flex;
  gap: 30px;
}

.zoomer{
  height:300px;
  width:300px;
}

.cornerCard{
  position: relative;
}

.cornerCoin,
.coinWrapper{
  position: absolute;
  top: 12px;
  left: 2.5px;
  width: 35px;
}