#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.App{
  width:100vw;
  display:flex;
  gap: 100px;
}
.card{
  width: 40px;
}

.read-the-docs {
  color: #888;
}


.board{
  border: 1px red solid;
  width:600px;
  display:grid;
  gap: 0px;
  grid-template-columns: repeat(10, 0.5fr);
}

.hand{
  display:flex;
  gap: 30px;
  border: solid red 1px;
}